<footer class=" page-footer font-small bg-black pt-4">

  <div class="container">
      <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
              <p class="text-white">Entre em contato com o desenvolvedor :</p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
          <ul class="social-media">
          <li>
              <a href="" target="_blank" class="iconLikedin">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
          </li>

          <li>
              <a href="" target="_blank" class="iconInstagram">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
          </li>

          <li>
              <a href="" target="_blank" class="iconGithub">
                  <i class="fa fa-github" aria-hidden="true"></i>
              </a>
          </li>
          </ul>
      </div>
  </div>

  <div class="footer-copyright bg-success text-center p-2">
  <span class="text-light">Copyright Henrique &copy</span>
  <a href="http://brasil.generation.org" target="_blank" class="text-light"></a>
  </div>
</footer>
