
  <nav class="d-flex justify-content-between p-3 bg-muted">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-3">
          <div class="d-grid d-md-flex justify-content-md-end">
            <a class="font-weight-bold link-remove" href="#">Olá, {{name}}, seja bem vindo!</a>
          </div>
        </div>
        <div class="col-4">
          
        </div>
        
        <div class="col-5">
          <div class="d-grid d-md-flex justify-content-md-end">
            
          <button class="btn btn-outline-danger me-4 pb-3 pt-3 pe-3 ps-3 btn-ext" type="submit" (click)='logout()'>Sair</button>
        </div>
      </div>
      </div>
    </div>
  </nav>
