
  <nav class="d-flex justify-content-between p-3 bg-muted">
    <div class="container-fluid">
      <div class="row">
      
        <div class="col-8">
          <button class="btn btn-outline-success ms-4 pb-3 pt-3" type="button">Adicionar Produto</button>
        </div>
        <div class="col-4">
          <div class="d-grid d-md-flex justify-content-md-end">
          <button class="btn btn-outline-danger me-4 pb-3 pt-3 pe-3 ps-3" type="submit">Sair</button>
        </div>
      </div>
      </div>
    </div>
  </nav>
