* {
  text-decoration: none;
}

.form-control:focus {
  border-color: rgb(19, 19, 19);
  box-shadow: 0 0 10px #b9b9b9;
}

.inputof{
  border-color: rgb(19, 19, 19);
}


.titulo {
  text-align: center;
  color: rgb(19, 19, 19);
  text-transform: uppercase;
  font-weight: bold;
}

.acolor {
  color: #219EBC;
  text-decoration: none;
}

.acolor:hover {
  color: #03ffff;
}

.acolor2 {
  background: #000;
  color: #fff;
  text-decoration: none;
}

.acolor2:hover {
  background: rgb(0, 184, 24);
  color: #000;
  font-weight: 400;
}
